*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  background: #08002B;
}

header {
  width: 100%;
}

/* header */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header-conta {
  height: 83.1548919678px;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  padding: 28px 219px 28px 219px;
  background: rgba(3, 0, 14, 0.5019607843);
  display: flex;
  align-items: center;
  padding-right: 13rem;
  padding-left: 13rem;
}

.site-logo {
  text-decoration: none;
}

.header-list {
  list-style: none;
  margin-left: auto;
  display: flex;
  margin-right: 8rem;
  align-items: center;
}

.header-item {
  left: 525.9273681641px;
  top: 29.5774459839px;
  border-radius: nullpx;
  font-family: Proxima Nova;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-left: 2.5rem;
}

.header-item:hover {
  border-bottom: 2px white;
  transform: scale(1.2);
}

.item-href {
  font-family: Proxima Nova;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 2.5rem;
  color: #fff;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.item-href:hover {
  border-bottom: 2px #fff;
  transform: scale(1.2);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.left {
  margin-left: auto;
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  height: 230.2409667969px;
  width: 490px;
  left: 220px;
  top: 514px;
  border-radius: 11.8072280884px;
  background: #FFFFFF;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.left-wrapper {
  margin-left: auto;
  height: 183.0120544434px;
  width: 183.0120544434px;
  left: 237.7109375px;
  top: 285.8433685303px;
  border-radius: 0px;
}

.right-wrapper {
  height: 230.2409667969px;
  width: 289.2770996094px;
  left: 420.7229003906px;
  top: 264px;
  border-radius: 11.8072280884px;
  background: #EDEDED;
}

.right-wrapper_title {
  left: 449.6506347656px;
  top: 536.4337463379px;
  border-radius: nullpx;
  font-family: Proxima Nova;
  font-size: 29px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  text-align: center;
  color: #08002A;
}

.star-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.items-wrappers {
  display: flex;
  align-items: center;
}

.texts {
  font-family: Proxima Nova;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  height: 30px;
  width: 195px;
  left: 470.9035644531px;
  top: 339.5662689209px;
  border-radius: nullpx;
  color: #08002A;
  margin-left: 1rem;
}

.right {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */