header{
    width: 100%;
}


/* header */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header-conta {
    height: 83.15489196777344px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    padding: 28px 219px 28px 219px;
    background: #03000E80; 
    display: flex;
    align-items: center;   
    padding-right: 13rem;
    padding-left: 13rem;
}
.site-logo {
    text-decoration: none;
}
.header-list {
    list-style: none;
    margin-left: auto;
    display: flex;
    margin-right: 8rem;
    align-items: center;
}
.header-item {
    left: 525.9273681640625px;
    top: 29.57744598388672px;
    border-radius: nullpx;
    font-family: Proxima Nova;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;        
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-left: 2.5rem;
}
.header-item:hover{
    border-bottom: 2px #ffff;
    transform: scale(1.2);
}
.item-href {
    font-family: Proxima Nova;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 2.5rem;
    color: #fff;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.item-href:hover{
    border-bottom: 2px #fff;
    transform: scale(1.2);
}