*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    height: 100%;
    font-size: 10px;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    background: #08002B;
}